<!DOCTYPE html>
<html lang="en" class="">
    <head>
        <% include ./head %>

    </head>
    <body class="logged_in  env-production macintosh  page-profile mine">
        <a href="#start-of-content" tabindex="1" class="accessibility-aid js-skip-to-content">Skip to content</a>
        <div class="wrapper">
            <% include ./logined-banner %>
            <div class="site clearfix" role="main">
                <div id="site-container" class="context-loader-container" data-pjax-container>
                    <% if (successUpdate) { %>
                    <div class="flash-messages container"><div class="flash flash-notice"><span class="octicon octicon-x flash-close js-flash-close"></span> Password changed successfully</div></div>
                    <% } %>
                    <% if (error) { %>
                    <div class="flash-messages container">
                        <div class="flash flash-error"><span class="octicon octicon-x flash-close js-flash-close"></span> <%= errMsg %></div>
                    </div>
                    <% } %>
                    <div class="container">
                        <div class="columns">
                            <div class="column one-fourth menu-container" role="navigation">
                                <ul class="menu accordion" data-pjax>
                                    <li class="section">
                                        <a href="/home" class="section-head">
                                        <img height="20" src="/avatars/<%= developer.profile.avatarImg%>" width="20" />
                                        <%= developer.name%>
                                        </a>
                                        <ul class="expanded section-nav">
                                            <li>
                                                <a href="/settings/profile" class="js-selected-navigation-item" data-selected-links="avatar_settings /settings/profile">Profile</a>
                                            </li>
                                            <li>
                                                <a href="/settings/admin" class="js-selected-navigation-item  selected" data-selected-links=" /settings/admin">Account settings</a>
                                            </li>
                                            <li>
                                                <a href="/settings/applications" class="js-selected-navigation-item " data-selected-links="applications_settings /settings/applications">Applications</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="column three-fourths">
                                <!-- Change Password -->
                                <div class="boxed-group">
                                    <h3>Change password</h3>
                                    <div class="boxed-group-inner">
                                        <form accept-charset="UTF-8" action="/password/change" class="edit_user" id="change_password" method="post">
                                            <dl class="form password-confirmation-form">
                                                <dt><label for="user_old_password">Old password</label></dt>
                                                <dd><input id="user_old_password" name="user[old_password]" required="required" tabindex="2" type="password" /></dd>
                                            </dl>
                                            <dl class="form password-confirmation-form">
                                                <dt><label for="user_new_password">New password</label></dt>
                                                <dd><input  id="user_new_password" name="user[password]" required="required" tabindex="2" type="password" /></dd>
                                            </dl>
                                            <dl class="form password-confirmation-form">
                                                <dt><label for="user_confirm_new_password">Confirm new password</label></dt>
                                                <dd><input id="user_confirm_new_password" name="user[password_confirmation]" required="required" tabindex="2" type="password" /></dd>
                                            </dl>
                                            <p>
                                                <button class="button" tabindex="2">Update password</button>
                                                <span><a href="/password/reset">I forgot my password</a></span>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                                <!-- Delete Account -->
                                <div class="boxed-group dangerzone">
                                    <h3>Delete account</h3>
                                    <div class="boxed-group-inner">
                                        <p>Once you delete your account, there is no going back. Please be certain.</p>
                                        <p><a href="#delete_account_confirmation" rel="facebox[.dangerzone]" class="button danger" tabindex="4">Delete your account</a></p>
                                        <div id="delete_account_confirmation" style="display:none">
                                            <h2 class="facebox-header">Are you sure you want to do this?</h2>
                                            <div class="facebox-danger">
                                                <span class="octicon octicon-alert"></span>
                                                This is extremely important.
                                            </div>
                                            <p>We will <strong>immediately delete all of your information </strong>, including all of your applications.</p>
                                            <p>You will no longer be accessable, and your username will be available to anyone on GitHub.</p>
                                            <hr class="facebox-separator">
                                            <form accept-charset="UTF-8" action="/leave" method="post">
                                                <p>
                                                    <label for="sudo_login">Enter your username:</label>
                                                    <input type="text" id="sudo_login" name="username" class="input-block" pattern="<%= developer.name%>" required>
                                                </p>
                                                <p>
                                                    <label for="confirmation_phrase">
                                                    Type in the following phrase:
                                                    <span class="confirmation-phrase do-not-copy-me">delete my account</span>
                                                    </label>
                                                    <input type="text" id="confirmation_phrase" name="confirmation_phrase" class="input-block" pattern="delete\ my\ account" required>
                                                </p>
                                                <button type="submit" class="button button-block danger" data-disable-invalid>Delete this account</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-backdrop"></div>
            </div>
        </div>
        <!-- /.wrapper -->
        <% include ./footer %>

    </body>
</html>
