      <div class="header header-logged-out" role="banner">
         <div class="container clearfix">
            <a class="logo header-logo-wordmark" href="/" ga-data-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
            <span class="mega-octicon octicon-logo-github"></span>
            </a>
            <div class="header-actions" role="navigation">
               <a class="button primary" href="/join" data-ga-click="(Logged out) Header, clicked Sign up, text:sign-up">Sign up</a>
               <a class="button signin" href="/login" data-ga-click="(Logged out) Header, clicked Sign in, text:sign-in">Sign in</a>
            </div>
            <div class="site-search  js-site-search" role="search">
               <form accept-charset="UTF-8" action="/search" class="js-site-search-form" data-global-search-url="/search" data-repo-search-url="" method="get">
                  <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
                  <input type="text"
                     class=""
                     data-hotkey="s"
                     name="q"
                     placeholder="Search REST API"
                     data-global-scope-placeholder="Search REST API"
                     data-repo-scope-placeholder="Search"
                     tabindex="1"
                     autocapitalize="off">
               </form>
            </div>
            <ul class="header-nav left" role="navigation">
               <li class="header-nav-item">
                  <a class="header-nav-link" href="/" data-ga-click="(Logged out) Header, go to API, text:API">API</a>
               </li>
            </ul>
         </div>
      </div>
      <div id="start-of-content" class="accessibility-aid"></div>
