      <div class="container">
         <div class="site-footer" role="contentinfo">
            <ul class="site-footer-links">
               <li><div class="copyright">&copy; Copyright <span class="js-year"></span> <a href="http://blog.xulvcai.asia">dennis-xlc</a>. Inspired by <a href="https://github.com/">GitHub</a>. </div></li>
            </ul>
         </div>
         <!-- /.site-footer -->
      </div>
      <!-- /.container -->
