
      <meta charset='utf-8'>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="Content-Language" content="en">

      <title><%= title %></title>

      <link rel="icon" type="image/x-icon" href="/favicon.ico">

      <link href="/css/github-main.css" media="all" rel="stylesheet" type="text/css">
      <link href="/css/github-secondary.css" media="all" rel="stylesheet" type="text/css">
      <link href="/css/documentation.css" media="all" rel="stylesheet" type="text/css">
      
      <script type="text/javascript" src="/js/github-framework.js"></script>
      <script type="text/javascript" src="/js/github-main.js"></script>
