<!DOCTYPE html>
<html lang="en" class="">

<head>
    <% include ./head %>
</head>


<body class="logged_out  env-production macintosh  signin">
    <a href="#start-of-content" tabindex="1" class="accessibility-aid js-skip-to-content">Skip to content</a>
    <div class="wrapper">

        <% include ./banner %>
            <div class="site clearfix" role="main">
                <div id="site-container" class="context-loader-container" data-pjax-container>

                    <% if (error) { %>
                    <div class="flash-messages container">
                        <div class="flash flash-error"><span class="octicon octicon-x flash-close js-flash-close"></span> <%= errMsg %></div>
                    </div>
                    <% } %>


                    <div class="auth-form" id="login">

                        <form accept-charset="UTF-8" action="/login" method="post">
                            <div style="margin:0;padding:0;display:inline">
                                <input name="utf8" type="hidden" value="&#x2713;" />
                            </div>
                            <div class="auth-form-header">
                                <h1>Sign in</h1>
                            </div>
                            <div class="auth-form-body">
                                <label for="login_field">
                                    Username or Email
                                </label>
                                <input autocapitalize="off" autocorrect="off" autofocus="autofocus" class="input-block" id="login_field" name="user[username]" tabindex="1" type="text" value="<%= username %>"/>

                                <label for="password">
                                    Password <a href="/password/reset">(forgot password)</a>
                                </label>
                                <input class="input-block" id="password" name="user[password]" tabindex="2" type="password" />

                                <input class="button" name="commit" tabindex="3" type="submit" value="Sign in" />
                            </div>
                        </form>
                    </div>

                </div>
                <div class="modal-backdrop"></div>
            </div>
    </div>
    <!-- /.wrapper -->

    <% include ./footer %>


</body>

</html>
