<p>Hello <%= username%>,</p>
</br>
<p>We wanted to let you know that your Shinify password was changed.</p>
</br>
<p>If you did not perform this action, you can recover access by entering <%= email%> into the form at <a href="<%= hostAddress%>/password_reset"><%= hostAddress%>/password/reset</a>.</p>
</br>
<p>Thanks,</p>
<p>Your friends at Shinify</p>